<!DOCTYPE html>
<html lang="en">

<body>
  <addTeam>
    <div id="addTeamDiv" class="row" style="display: none; margin-top: 70px">
      <div class="col-md-8 project-top-left">
        <h1>
          Hi <div id="project-username" class="project-username">Ke</div>,
        </h1>
        <p>you can add new team from here.</p>
        <div class="input-group">
          <input id="createTeamInput" type="text" class="form-control">
          <div class="input-group-append">
            <button id="createTeamBtn" class="btn btn-primary">CREATE</button>
          </div>
        </div>
      </div>
    </div>

  </addTeam>
</body>
</html>