<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <team>
    <div class="container-fluid" id="team-page" style="display: none">
      <div class="row topBar">
        <div class="col-md-2">
          <img src="/static/images/logo.png" alt="" height="45px">
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2">
          <button class="btn navbar-btn">Home</button>
          <img src="/static/images/person-fill.svg" alt="">
          <div id="navbar-username" class="navbar-username"></div>
        </div>
      </div>

      <object th:include="main/userInfo::userInfo" th:remove="tag"></object>
    </div>
  </team>
</body>
</html>