<!DOCTYPE html>
<html lang="en">

<body>
  <userInfo>
    <div class="row">
      <div class="container userInfo-page">
        <div class="row">
          <div class="col-3 left-panel">
            <div class="text-center userInfo-board">ACCOUNT DASHBOARD</div>
            <div class="userInfo-title">
              <img src="/static/images/person-fill.svg" alt="">
              Account Information
            </div>
            <div class="userInfo-other"></div>
          </div>
          <div class="col-8">
            <h3>User Information</h3>
            <div class="right-table">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email">
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone">
              </div>
              <div class="mb-3">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday">
              </div>
              <div class="mb-3">
                <label for="label" class="form-label">Label</label>
                <input type="date" class="form-control" id="label">
              </div>
            </div>
            <button class="btn userInfo-save">SAVE CHANGES</button>
          </div>
        </div>
      </div>
    </div>
  </userInfo>
</body>
</html>