.main-page {
    margin-left: 30px;
}

.first-title {
    font-size: 60px;
    font-weight: bold;
    color: #ED6D2E
}

.second-title {
    font-size: 40px;
    font-weight: bold;
    color: #C1D230
}

.third-p {
    font-size: 25px;
    color: #254CAC;
}

.main-menu {
    margin-top: 20px;
    text-align: right;
}
.main-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 10px auto auto;
}
.btnSign {
    border-color: #ED6D2E;
    background-color: #ED6D2E;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 45px;
    width: 155px;
    height: 60px;
}

.btnMainLogin {
    color: #ED6D2E;
    border-color: #ED6D2E;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 100px;
    width: 155px;
    height: 60px;
}

.aSign {
    color: white;
    text-decoration: none;
}

.aLogin {
    color: #ED6D2E;
    text-decoration: none;
}