.topBar {
    background-color: lightgrey;
}

.navbar-btn {
    margin-left: 30px;
}

.navbar-username {
    float: right;
    margin-top: 6px;
}

.leftBar {
    margin-top: 40px;
}

.noPadding {
    padding: 0;
}

.leftBar-btn {
    height: 80px;
    /*background: linear-gradient(to right, #FDF0EA, #ffffff);*/
    /*border-left: #ED6D2E 4px solid;*/
}

.navbar-icon {
    margin-left: 40px;
    width: 30px;
    height: 24px;
}

.navbar-icon2 {
    margin-left: 10px;
    width: 30px;
    height: 24px;
}

.link-btn {
    color: #ABAEAF;
}

.main-content {
    background-color: #E0FFFF;
}

.team-icon{
    margin-left: 10px;
}

.member-icon-big {
    margin: 0 10px 0 15px;
    width: 40px;
    height: 40px;
}

.member-icon-sm {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.team-list {
    padding-left: 60px;
    color: #ABAEAF;
}
.team-line {
    float: left;
    font-weight: bold;
}
.project-line {
    margin-left: 20px
}