<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TrackTastic</title>
  <object th:include="fragments/header::header" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
  <div class="row topBar">
    <div class="col-md-2">
      <img src="/static/images/logo.png" alt="" height="45px">
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-2">
      <button class="btn navbar-btn">Home</button>
      <img src="/static/images/person-fill.svg" alt="">
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col-md-7">
      <div class="main-page">
        <p class="first-title">Welcome to</p>
        <div class="img">
          <img src="/static/images/main.jpg" alt="" class="main-img">
        </div>
      </div>
    </div>
    <div class="col-md-5" style="margin-top: 100px">
      <img src="/static/images/logo.png" alt="" height="150px">
      <p class="third-p" style="padding-left: 45px">
        TrackTaskic is a tool that helps facilitate the <br/>
        tracking, status and completion of tasks <br/>
        associated with company projects. Our tool <br/>
        will allow for complete visibility into the <br/>
        entire workflow for specific teams and the <br/>
        company as a whole.
      </p>
      <a href="/register" class="aSign">
        <button type="button" class="btn btnSign">
          Sign up
        </button>
      </a>
      <a href="/index" class="aLogin">
        <button type="button" class="btn btn-outline btnMainLogin">
          Login
        </button>
      </a>
    </div>
  </div>
</div>
</body>
</html>