<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
  <meta charset="UTF-8">
  <link href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<!--  css-->
  <link href="/static/css/login.css" rel="stylesheet">
  <link href="/static/css/register.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/team.css">
  <link rel="stylesheet" href="/static/css/userInfo.css">
  <link rel="stylesheet" href="/static/css/project.css">
  <link rel="stylesheet" href="/static/css/task.css">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="550032846021-t6q51vov5qulh903logndgjhhn6tcncf.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

<!--  action-->
  <script type="module" src="/static/js/app.js"></script>
  <script type="module" src="/static/js/action/loginAction.js"></script>
<!--page-->
  <script type="module" src="/static/js/page/userInfo.js"></script>
  <script type="module" src="/static/js/page/team.js"></script>
  <script type="module" src="/static/js/page/project.js"></script>
  <script type="module" src="/static/js/page/task.js"></script>
</head>
<body>

</body>
</html>