<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
  <meta charset="UTF-8">
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/login.css" rel="stylesheet">
  <link href="/static/css/register.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/team.css">
  <link rel="stylesheet" href="/static/css/userInfo.css">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script type="module" src="/static/js/app.js"></script>
  <script type="module" src="/static/js/action/loginAction.js"></script>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="550032846021-t6q51vov5qulh903logndgjhhn6tcncf.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

</body>
</html>