<!DOCTYPE html>
<html lang="en">

<body>
  <addProject>
    <div id="addProjectDiv" class="row" style="display: none; margin-top: 20px">
      <div class="col-md-8 project-top-left">
        <h1>
          Hi <div id="project-username" class="project-username">Ke</div>,
        </h1>
        <p>you can add new project from here.</p>
        <div class="form-group">
          <label for="createProjectName">Project Name:</label>
          <input type="text" class="form-control" id="createProjectName">
        </div>

        <div class="form-group">
          <label for="createProjectDes">Description:</label>
          <textarea class="form-control" id="createProjectDes" cols="30" rows="3"></textarea>
        </div>

        <button id="createProjectBtn" class="btn btn-primary">CREATE</button>
      </div>
    </div>
  </addProject>
</body>
</html>