<!DOCTYPE html>
<html lang="en">
<body>
  <task>
    <div id="task" class="row">
      <div class="col-md-8 task">
        <div class="row">
          <div class="col-md-9">
            <h4>Project Task</h4>
          </div>
          <div class="col-md-3">Month: December</div>
        </div>

        <div class="line"></div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-3 member">
        <div class="row">
          <div class="col-md-6">
            <h5>Team</h5>
          </div>
          <div class="col-md-6">Project:
            <div id="memberListProjectName"></div>
          </div>
        </div>

        <div class="line"></div>

        <div id="member-list-head" class="row" style="display: none">
          <div>
            <img class='member-icon-big' src="/static/images/person-plus.svg" alt="">
            Add Member
            <img id="showAddMemberDiv" class='member-icon-sm' src="/static/images/plus-circle-fill.svg" alt="">
          </div>

          <div id="addMemberDiv" class="input-group" style="display: none;">
            <input id="addMemberInput" type="text" class="form-control">
            <div class="input-group-append">
              <button id="addMemberBtn" class="btn btn-primary">ADD</button>
            </div>
          </div>
        </div>

        <div id="member-list">

        </div>
      </div>
    </div>
  </task>
</body>
</html>