<!DOCTYPE html>
<html lang="en">
<body>
  <updateProject>
    <div id="updateProjectDiv" class="row" style="display: none; margin-top: 20px">
      <div class="col-md-8 project-top-left">
        <h1>
          Hi <div id="project-username" class="project-username">Ke</div>,
        </h1>
        <p>you can update project from here.</p>
        <div class="form-group">
          <label for="updateProjectName">Project Name:</label>
          <input type="text" class="form-control" id="updateProjectName">
        </div>

        <div class="form-group">
          <label for="updateProjectDes">Description:</label>
          <textarea class="form-control" id="updateProjectDes" cols="30" rows="3"></textarea>
        </div>

        <button id="updateProjectBtn" class="btn btn-primary">UPDATE</button>
      </div>
    </div>
  </updateProject>
</body>
</html>